---
import type { Dog } from "@typedef/apiTypes";
import { Image } from "astro:assets";

interface Props {
	dog: Dog;
}

const { dog } = Astro.props;

const { img, ...dogObject } = dog;

const dogIdUrl = Astro.url;

dogIdUrl.pathname = `/dogs/${dogObject.id}`;

console.log(dogIdUrl.href);
---

<tr class="py-2 group-hover:opacity-60 hover:!opacity-100">
	<td class="w-fit">
		<Image
			src={img}
			alt={`picture of ${dogObject.name}, a ${dogObject.breed}`}
			width={100}
			height={50}
			class="rounded-lg"
		/>
	</td>
	{
		Object.values(dogObject).map((dogObjectVal) => (
			<td class="text-center">
				<a href={dogIdUrl.href}>{dogObjectVal}</a>
			</td>
		))
	}
</tr>
