---
import { z } from "zod";
import Layout from "@layouts/Layout.astro";
import { actions } from "astro:actions";
import GenericDogView from "@components/astro/GenericDogView.astro";
import DogTable from "@components/astro/DogTable.astro";

const { dogId } = Astro.params;

if (!dogId) return Astro.redirect("/");

const dogIdParsed = z.string().safeParse(dogId);

if (!dogIdParsed.success) return Astro.redirect("/");

const { data, error } = await Astro.callAction(actions.getDogs.getDogs, {
	dogId: [dogIdParsed.data],
});

if (error) return Astro.redirect("/404");

const { dogs } = data;

if (!dogs?.length) return Astro.redirect("/");

const thisDog = dogs[0];

const dogTitleConstructor = (dog: typeof thisDog) =>
	`${dog.name} • ${dog.breed} • ${dog.age} • ${dog.zip_code}`;

// INFO: stash viewed
// no await as we don't care! not relevant to showing this page
// BUT we'll call .waitUntil here, so CF doesn't close the worker until this call is finished
// but will return the SSR ASAP
Astro.locals.runtime.ctx.waitUntil(
	Astro.callAction(actions.viewedDog.putViewed, {
		dog: thisDog,
	}),
);
---

<Layout title={dogTitleConstructor(thisDog)} isHTMX={true}>
	<div class="grid grid-cols-1 lg:grid-cols-2 container mx-auto gap-4">
		<GenericDogView dog={thisDog} canFavorite={true} />
		<DogTable lockedBreeds={[thisDog.breed]} />
	</div>
</Layout>
